.mainContainer {
  margin: 5% 5%;
}

.array {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  height: 90vh;
  margin: auto;
  width: 100%;
  /* border: black solid 2px; */
}

.bar {
  background-color: aqua;
  border: solid white 1px;
}
